@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,500");
html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
    color: rgba(255, 255, 255, 0.87);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.container,
.container > .row,
.container > .row > div {
    height: 100%;
}

#countUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blur {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(13px);
    position: absolute;
    height: 360px;
    z-index: 99;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.number-background{
    border: 5px solid rgba(255, 255, 255, .5);
    padding: 3em 2em;
    z-index: 999;
}

.number-background button{
    padding: 0.5em 1em;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border:1px solid transparent;
    margin:0.5em auto;
    display:block;
    cursor: pointer;
}

#countUp .number {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}
#countUp .number + .text {
    margin: 0 0 1rem;

}
#countUp .text {
    font-weight: 300;
    text-align: center;
}